<launch>
	<arg name="fcu_url" default="/dev/ttyACM0:115200?ids=255,252,1" />
	
	
	<include file="$(find mavros)/launch/apm.launch">
		<arg name="fcu_url" value="$(arg fcu_url)" />
		<arg name="gcs_url" value="" />
		<arg name="tgt_system" value="1" />
		<arg name="tgt_component" value="1" />
		<arg name="log_output" value="screen" />
	</include>

	<node pkg="aurora" name="actuator_node" type="actuator_node.py" output="screen" />
	<node pkg="aurora" name="data_node" type="data_node.py" output="screen"/>
	<node pkg="aurora" name="waypoint_node" type="waypoint_node.py" output="screen"/>
</launch>
